.scale-effect{
    transition: .5s;
}

.scale-effect:hover{
    transform:scale(1.05);
}

.button-shadow{
    transition:.2s;
}

.button-shadow:hover{
    box-shadow: 3px 3px 0px 1px var(--component-button-shadow); 
}