.scale-effect{
    transition: var(--global-transition-timing) ease-in-out;
}

.scale-effect:hover{
    transform:var(--global-scale);
}

.button-shadow{
    transition:var(--global-transition-timing) ease-in-out;
}

.button-shadow:hover{
    box-shadow: 1px 1px 0px 1px var(--component-button-shadow); 
}

.text-shadow{
    text-shadow: 2px 2px var(--text-shadow-color);
}

.fadein {
    animation: fadeIn ease var(--global-animation-timing);
    -webkit-animation: fadeIn ease var(--global-animation-timing);
    -moz-animation: fadeIn ease var(--global-animation-timing);
    -o-animation: fadeIn ease var(--global-animation-timing);
    -ms-animation: fadeIn ease var(--global-animation-timing);
    }

@keyframes fadeIn {
    0% {
        opacity:0;
    }

    100% {
        opacity:1;
    }
}
    
@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }

    100% {
        opacity:1;
    }
}
    
@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }

    100% {
        opacity:1;
    }
}
    
@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }

    100% {
        opacity:1;
    }
}
    
@-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }

    100% {
        opacity:1;
    }
}