.scale-effect{
    transition: var(--global-transition-timing);
}

.scale-effect:hover{
    transform:var(--global-scale);
}

.button-shadow{
    transition:.2s;
}

.button-shadow:hover{
    box-shadow: 3px 3px 0px 1px var(--component-button-shadow); 
}

.text-shadow{
    text-shadow: 1px 1px var(--text-shadow-color);
}