/* Importing of fonts from adobe */
@import url("https://use.typekit.net/dmt1eqx.css");

/* Global Styling */

.button-positive{

}

.button-negative{

}

/* Navbar Styling */

.navbar{
    height:100px;
    width:100%;
    background-color:var(--component-background-opacity);
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:15px;
}

.navbar img{
    height:60px;
}

.navbar-button{
    height:50px;
    width:50px;
    background-color: var(--component-button-color);
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:36px;
    text-decoration: none;
}

.navbar-item{
    display:none;
}

/* Hero */

.hero{
    height:100vh;
    width:100%;
    padding:15px;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: center;
    justify-content: center;
}

.hero h2{
    font-size:94px;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    font-style: var(--header-font-style);
    color:var(--component-text-color);
    text-align:left;
    text-transform: uppercase;
}

.hero-button{
    font-size:21px;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    font-style: var(--header-font-style);
    color:var(--component-text-color);
    text-transform: uppercase;
    text-decoration: none;
    padding:10px;
    background-color: var(--component-button-color);
}

.hero-footer{
    background-color:var(--component-background-opacity);
    height:100px;
    width:100%;
    display:flex;
    padding:15px;
    justify-content: space-between;
    align-items:center;
}

.hero-footer img{
    height:60px;
}

.hero-video{
    height:100vh;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-position: center;
}

/* Boxes Section */

.box-selector-container{
    height:100vh;
    width:100%;
    padding:15px;
}

.box-selector{
    height: 75px;
    background-color:var(--component-background);
    padding:15px;
}

.box-selected{
    height:500px;
    background-color:var(--component-background);
    padding:15px;
}

/* Footer */

.footer{

}

.footer-logo{

}

.footer-socials{

}