/* Importing of fonts from adobe */
@import url("https://use.typekit.net/dmt1eqx.css");

/* Global Styling */


/* Navbar Styling */

body{
    background-color:var(--component-background);
}

.navbar{
    height:75px;
    width:100%;
    background-color:var(--component-background-opacity);
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:10px;
    border-bottom:1px solid var(--component-background);
    transition: all var(--global-transition-timing) ease-in-out;
}

.navbar{
    position:fixed;
    top:0px;
    z-index:3;
}

.navbar-menu{
    position:fixed;
    top:75px;
    right:0px;
    z-index:5;
}

.navbar img{
    height:50px;
}

.navbar-buttons{
    display:none;
}

.navbar-button-collection{
    display:flex;
    justify-content: center;
    align-items:center;
    list-style-type: none;
}

.navbar-button-collection li{
    padding:10px 20px;
    padding-top:12px;
    margin-left:10px;
    margin-right:10px;
}

.navbar-button-collection a{
    font-size:20px;
    color:var(--component-text-color);
    text-decoration: none;
    font-family: var(--header-font);
    font-style:var(--header-font-style);
    font-weight: var(--header-font-weight);
    text-shadow: 1px 1px var(--component-background-opacity);
    padding:5px;
    text-transform: uppercase;
}

.navbar-first-item::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--component-text-color);
    transition: width var(--global-transition-timing) ease-in-out;
}

.navbar-first-item:hover::after{
    width: 100%;
}

.navbar-button{
    height:50px;
    width:50px;
    background-color: var(--component-button-color);
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:30px;
    text-decoration: none;
    box-shadow: 3px 3px 0px 1px var(--component-button-shadow);
    margin:10px;
}

.navbar-menu{
    height:calc(100vh - 75px);
    width:100%;
    background-color:var(--component-background-opacity);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    transition: all var(--global-transition-timing) ease-in-out;
    transform:translate(100%);
    visibility: hidden;
}

.navbar-menu-expanded{
    transform:translate(0) !important;
}

.navbar-menu ul{
    list-style-type: none;
    padding:0;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.navbar-item{
    padding:15px;
    width:100%;
    max-width:300px;
    margin-top:10px;
    margin-bottom:10px;
    background-color: var(--component-button-color);
    font-size:30px;
    color:var(--component-text-color);
    display:flex;
    align-items:center;
    justify-content: space-between;
    box-shadow: 3px 3px 0px 1px var(--component-button-shadow);
}

.navbar-item a{
    color:var(--component-text-color);
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    font-style:var(--header-font-style);
    text-decoration: none;
    text-shadow: 2px 2px var(--text-shadow-color);
}

.navbar-language-selector{
    padding:10px;
    text-align:center;
}

.navbar-language-selector h2{
    padding:10px;
    font-size:24px;
    color:var(--component-text-color);
    font-family: var(--header-font);
    font-style:var(--header-font-style);
    font-weight: var(--header-font-weight);
}

.navbar-language-selector img{
    width:64px;
    margin:5px;
}


/* Hero */

.hero{
    min-height:100vh;
    width:100%;
    padding:15px;
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    background-position: top center;
    display:flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}

.hero h2{
    font-size:200px;
    max-width:700px;
    padding:20px;
    line-height: .9;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    font-style: var(--header-font-style);
    color:var(--component-text-color);
    text-align:left;
    text-transform: uppercase;
    text-shadow: 2px 2px var(--component-background-opacity);
}

.hero-logo{
    height:125px;
    position:absolute;
    right:15px;
    bottom:15px;
}

.hero-button{
    font-size:21px;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    font-style: var(--header-font-style);
    color:var(--component-text-color);
    text-transform: uppercase;
    text-decoration: none;
    padding:15px;
    background-color: var(--component-button-color);
    box-shadow: 3px 3px 0px 1px var(--component-button-shadow);
}

.hero-footer{
    background-color:var(--component-background-opacity);
    height:100px;
    width:100%;
    padding:15px;
    justify-content: space-between;
    align-items:center;
    border-top:1px solid var(--component-background);
    transition: all var(--global-transition-timing) ease-in-out;
    display:none;
    visibility: hidden;
}

.hero-footer{
    position:fixed;
    bottom:0;
    z-index:2;
}

.hero-footer img{
    height:60px;
}

.hero-video{
    background-color:var(--component-text-color);
    padding:15px;
    height:100vh;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    font-style: var(--header-font-style);
    color:var(--component-background);
    display:flex;
    justify-content: center;
    align-items: center;
}

.hero-video-container{
    height:100%;
    width:100%;
    max-width:1000px;
    max-height:500px;
    background-image: url(../img/hero-video-preview.jpg);
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: center;
    align-items:center;
    color:var(--component-text-color);
    border:3px solid var(--component-background);
}

.hero-video-container i{
    color:var(--component-text-color);
    font-size:200px;
}

.hero-video-text{
    width:100%;
    max-width:500px;
    padding:50px;
}

.hero-video-text h2{
    font-size:140px;
    text-transform: uppercase;
    font-weight:var(--header-font-weight);
    line-height: .9;
}

.hero-video-text p{
    font-size:20px;
    font-family: var(--font);
    font-style:normal;
    font-weight: 500;
    margin-top:15px;
}

.hero-video-text a{
    color:var(--component-background);
    font-weight: bold;
}

.hero-video-text i{
    font-size:25px;
}

/* Boxes Section */

.box-selector-container{
    width:100%;
    height:100vh;
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: center;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    font-style:var(--header-font-style);
    color:var(--component-text-color);
    padding:15px;
    padding-top:75px;
    padding-bottom:75px;
}

.box-panel{
    height:100%;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    text-align: center;
}

.box-selector-container h2{
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    font-style:var(--header-font-style);
    color:var(--component-text-color);
    font-size:50px;
    text-transform: uppercase;
    padding:15px;
}

.box-controls{
    display:flex;
    flex-direction: column;
    width:100%;
    max-width:500px;
    text-align: center;
}

.box-preview{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    max-width:500px;
    text-align: center;
    font-size:40px;
}

.box-preview i{
    padding:15px;
    cursor: pointer;
}

.box-image{
    width:100%;
    max-width:350px;
}

.box-controls a{
    font-size:35px;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    font-style:var(--header-font-style);
    color:var(--component-text-color);
    text-decoration: none;
    text-transform: uppercase;
    margin-top:15px;
    margin-bottom:15px;
    background-color:var(--component-button-color);
    box-shadow: 3px 3px 0px 1px var(--component-button-shadow);
    padding:15px;
}

.box-btn-neg{
    background-color:var(--component-button-color-negative) !important;
    box-shadow: 3px 3px 0px 1px var(--component-button-negative-opacity)!important;
    cursor:no-drop;
}

/* Footer */

.footer{
    width:100%;
    background-color:var(--component-background);
    display:flex;
    padding:15px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    color:var(--component-button-shadow);
    border-top:1px solid var(--text-shadow-color);
}

.footer ul{
    padding:15px;
    list-style-type: none;
    text-align:center;
    width:100%;
    max-width:220px;
    border-top:1px solid var(--component-button-shadow);
}

.footer li{
    padding:5px;
}

.footer a{
    color:var(--component-button-shadow);
}

.footer-logo{
    height:100px;
    margin-bottom:15px;
}

.socials-container{
    color:var(--component-button-shadow);
    font-size:48px;
    width:100%;
    max-width:220px;
    display:flex;
    justify-content: space-around;
    padding:15px;
}

.socials-container a{
    color:var(--component-button-shadow);
    font-size:48px;
}

.socials-container i{
    font-size:48px;
}

.footer p{
    padding:5px;
}

/* Contact Page */
.contact-box{
    height:100vh;
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: center;
    padding-top:75px;
}

.contact-box h1{
    font-family:var(--header-font);
    font-weight: var(--header-font-weight);
    font-style:var(--header-font-style);
    color:var(--component-text-color);
    font-size:50px;
    padding:15px;
    width:100%;
    text-transform: uppercase;
}

.contact-information{
    height:calc(100% - 89px);
    display:flex;
    justify-content: center;
    align-items:center;
}

.contact-information ul{
    padding:0;
    list-style-type:none;
    font-size:30px;
    font-family:var(--font);
    font-weight: var(--header-font-weight);
    color:var(--component-text-color);
    text-align:center;
    height:100%;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact-information li a{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    color:var(--component-text-color);
    text-decoration: none;
    text-align: center;
}

.contact-information i{
    padding-right:20px;
    font-size:40px;
}

/* Login Page */

.login-container{
    min-height:100vh;
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: center;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    font-style: var(--header-font-style);
    color:var(--component-text-color);
    text-transform: uppercase;
    padding-top:100px;
    padding-left:30px;
    padding-right:30px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-container h1{
    font-size:55px;
    font-weight: var(--header-font-weight);
}

.login-container p{
    font-size:20px;
}

.login-container b{
    color:#7AE645;
}

.login-facebook-button{
    background-color:#295EA4;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-size:18px;
    padding:10px;
    text-decoration: none;
    color:var(--component-text-color);
    width:100%;
    max-width:300px;
    margin-top:10px;
    margin-bottom:10px;
}

.login-form{
    width:100%;
    max-width:500px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:10px;
    margin-bottom:10px;
}

.login-form label{
    align-self: flex-start;
    justify-self: center;
    margin-top:2px;
    margin-bottom:2px;
    display:flex;
    align-items:center;
}

.login-form input[type="text"]{
    padding:10px;
    width:100%;
    background-color:rgba(255,255,255,0.26);
    border:2px solid #7AE645;
    color:whitesmoke;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    font-style: normal;
    color:var(--component-text-color);
    font-size:21px;
    margin-top:10px;
    margin-bottom:10px;
}
.login-form input[type="password"]{
    padding:10px;
    width:100%;
    background-color:rgba(255,255,255,0.26);
    border:2px solid #7AE645;
    color:whitesmoke;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    font-style:normal;
    color:var(--component-text-color);
    font-size:21px;
    margin-top:10px;
    margin-bottom:10px;
}

.login-form input[type="checkbox"]{
    background-color:rgba(255,255,255,0.26);
    border:2px solid #7AE645;
    height:20px;
    width:20px;
    color:whitesmoke;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    font-style: var(--header-font-style);
    color:var(--component-text-color);
    margin-left:10px;
}

.login-form input[type="submit"]{
    height:50px;
    width:100%;
    background-color:var(--component-button-color);
    border:none;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    font-style: var(--header-font-style);
    color:var(--component-text-color);
    font-size:22px;
    margin-top:10px;
    margin-bottom:10px;
    box-shadow: 3px 3px 0px 1px var(--component-button-shadow);
    text-transform: uppercase;
    cursor:pointer;
    -webkit-appearance: none;
    border-radius: 0;
}

.login-form input:focus {
    outline: none;
}

.login-forgot{
    align-self: flex-end;
    font-size:14px;
    text-decoration: none;
    margin-top:10px;
    margin-bottom:10px;
    color:var(--component-text-color);
}

.login-register-button{
    height:50px;
    width:100%;
    background-color:var(--component-button-color);
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:var(--component-text-color);
    font-size:22px;
    margin-top:10px;
    margin-bottom:10px;
    box-shadow: 3px 3px 0px 1px var(--component-button-shadow);
}
.login-register-button i{
    padding:10px;
}

/* Registration Page */

.register-container{
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: center;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    font-style: var(--header-font-style);
    color:var(--component-text-color);
    text-transform: uppercase;
    padding-top:100px;
    padding-left:30px;
    padding-right:30px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.register-container h1{
    font-size:60px;
    font-weight:var(--header-font-weight);
}

.register-container p{
    font-size:20px;
}

.register-container b{
    color:#7AE645;
}

.register-form{
    width:100%;
    max-width:500px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:10px;
    margin-bottom:10px;
}

.register-form label{
    align-self: flex-start;
}

.register-form input[type="text"]{
    padding:10px;
    width:100%;
    background-color:rgba(255,255,255,0.26);
    border:2px solid #7AE645;
    color:whitesmoke;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    font-style:normal;
    color:var(--component-text-color);
    font-size:22px;
    margin-top:10px;
    margin-bottom:10px;
}

.register-form input[type="email"]{
    padding:10px;
    width:100%;
    background-color:rgba(255,255,255,0.26);
    border:2px solid #7AE645;
    color:whitesmoke;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    font-style:normal;
    color:var(--component-text-color);
    font-size:22px;
    margin-top:10px;
    margin-bottom:10px;
}

.register-form input[type="password"]{
    padding:10px;
    width:100%;
    background-color:rgba(255,255,255,0.26);
    border:2px solid #7AE645;
    color:whitesmoke;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    font-style:normal;
    color:var(--component-text-color);
    font-size:22px;
    margin-top:10px;
    margin-bottom:10px;
}

.register-form input[type="submit"]{
    height:50px;
    width:100%;
    background-color:var(--component-button-color);
    border:none;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    font-style: var(--header-font-style);
    color:var(--component-text-color);
    font-size:22px;
    margin-top:10px;
    margin-bottom:10px;
    box-shadow: 3px 3px 0px 1px var(--component-button-shadow);
    text-transform: uppercase;
    cursor:pointer;
    -webkit-appearance: none;
    border-radius: 0;
}

.register-birthdate{
    display:flex;
    justify-content: space-between;
}

.register-birthdate input{
    margin:5px;
}

.register-form input:focus {
    outline: none;
}

/* Account page */
.account-container{
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: center;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    font-style: var(--header-font-style);
    color:var(--component-text-color);
    padding-top:75px;
    display:flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
}

.account-container h2{
    font-size:50px;
    padding:15px;
    text-transform: uppercase;
    font-weight:var(--header-font-weight);
}

.account-information{
    background-color:var(--component-text-color);
    padding:15px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height:100%;
}

.account-information h3{
    color:var(--component-background);
    font-style:normal;
    font-size:35px;
    padding:5px;
    text-transform: uppercase;
}

.account-information h4{
    color:var(--component-background);
    font-style:normal;
    font-size:25px;
    padding:5px;
    text-transform: uppercase;
}

.account-image{
    height:200px;
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 38px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 38px -20px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 38px -20px rgba(0,0,0,0.75);
    cursor: pointer;
    margin-top:10px;
    margin-bottom:10px;
}

.account-information ul{
    display:flex;
    padding:0;
    flex-direction: column;
    align-items:center;
    width:100%;
}

.account-information li{
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top:10px;
    margin-bottom:10px;
    max-width:500px;
}

.account-information a{
    color:var(--component-text-color);
    background-color:var(--component-button-color);
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    text-decoration: none;
    padding:10px;
    font-size:30px;
    box-shadow: 3px 3px 0px 1px var(--component-button-shadow);
    text-transform: uppercase;
}


.account-signout{
    background-color:var(--component-button-color-negative) !important;
    box-shadow: 3px 3px 0px 1px var(--component-button-color-negative-opacity) !important;
}

/* Settings Page */

.settings-container{
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: center;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    font-style: var(--header-font-style);
    color:var(--component-text-color);
    padding-top:75px;
    display:flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
}

.settings-information{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding-left:30px;
    padding-right:30px;
    width:100%;
}

.settings-information h3{
    color:var(--component-text-color);
    font-style:normal;
    font-size:35px;
    padding:5px;
    text-transform: uppercase;
}

.settings-information h4{
    color:var(--component-text-color);
    font-style:normal;
    font-size:25px;
    padding:5px;
    text-transform: uppercase;
}

.settings-container h1{
    font-size:50px;
    padding:15px;
    text-transform: uppercase;
    font-weight:var(--header-font-weight);
}

/* Error page */
.error-container{
    min-height:100vh;
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: center;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    font-style: var(--header-font-style);
    color:var(--component-text-color);
    padding-top:75px;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    text-align: center;
}

.error-container i{
    font-size:120px;
    padding:10px;
}

.error-container h2{
    font-size:30px;
    padding:10px;
    font-family:var(--font);
    font-style:normal;
}

.error-container a{
    font-size:30px;
    font-family:var(--font);
    color:var(--component-text-color);
    background-color:var(--component-button-color);
    text-decoration: none;
    padding:15px 35px; 
    margin:20px;
    font-size:30px;
    box-shadow: 3px 3px 0px 1px var(--component-button-shadow);
    text-transform: uppercase;
}

/* Vision Page */

.vision-container{
    min-height:100vh;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    font-style: var(--header-font-style);
    color:var(--component-text-color);
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position:center;
    padding-top:75px;
}


.vision-header h2{
    font-size:50px;
    padding:15px;
    text-transform: uppercase;
    font-weight:var(--header-font-weight);
}

.vision-image{
    width:100%;
    max-width:600px;
    background-image: url(../img/account-bg.jpg);
    background-size: cover;
    background-position: top center;
    height:500px;    
}

.vision-intro{
    background-color:var(--component-text-color);
    color:var(--component-background);
    padding:15px;
    display:flex;
    justify-content: center;
    align-items:center;
    min-height:600px;
}

.vision-text{
    max-width:500px;
    padding:50px;  
     
}

.vision-text h2{
    font-size:140px;
    text-transform: uppercase;
    font-weight: var(--header-font-weight);
}

.vision-text b{
    font-style:italic;
}

.vision-text p{
    font-size:20px;
    font-family: var(--font);
    font-style:normal;
    font-weight: 500;
    padding:5px;
}

.vision-text img{
    width:100%;
}

.vision-goal{
    background-color:var(--component-background);
    color:var(--component-text-color);
    padding:15px;
    min-height:600px;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: row-reverse;
}

.vision-goal-image{
    width:100%;
    max-width:600px;
    background-image: url(../img/vision-food.jpg);
    background-size: cover;
    background-position:center;
    height:500px;    
}

.vision-goal-text{
    max-width:500px;
    padding:50px; 
}

.vision-goal-text h2{
    font-size:140px;
    text-transform: uppercase;
}

.vision-goal-text b{
    font-style:italic;
}

.vision-goal-text p{
    font-size:20px;
    font-family: var(--font);
    font-style:normal;
    font-weight: 500;
    padding:5px;
}

.vision-goal-text img{
    width:100%;
}

/* Box.html Page */

.box-specific-container{
    min-height:100vh;
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: center;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    font-style: var(--header-font-style);
    color:var(--component-text-color);
    padding-top:75px;
}

.box-specific-container h2{
    font-size:50px;
    text-transform: uppercase;
    font-weight: var(--header-font-weight);
    padding:15px;
}

.box-specific-image{
    width:100%;
    max-width:400px;
    height:500px;
    background-image: url(../img/box1.jpg);
    background-size: cover;
    background-position: top center;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    padding:15px;
}

.box-specific-image a{
    width:100%;
    padding:15px;
    background-color:var(--component-button-color);
    font-size: 30px;
    color:var(--component-text-color);
    text-decoration: none;
    box-shadow: 3px 3px 0px 1px var(--component-button-shadow);
    text-transform: uppercase;
}

.box-specific-details{
    min-height:400px;
    background-color:var(--component-text-color);
    color:var(--component-background);
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding:15px;
}

.box-specific-details ul{
    list-style-type: none;
    padding:15px;
}

.box-specific-container li{
    font-family: var(--font);
    font-size:25px;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
}

.box-specific-details h3{
    font-size:50px;
    text-transform: uppercase;
    font-weight: var(--header-font-weight);
    font-style:var(--header-font-style);
    font-family: var(--header-font);
}

.box-specific-state{
    min-height:450px;
    background-color:var(--component-background);
    color:var(--component-text-color);
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding:15px;

    width:100%;
}

.box-specific-state h3{
    font-size:70px;
    text-transform: uppercase;
    font-weight: var(--header-font-weight);
    font-style:var(--header-font-style);
    font-family: var(--header-font);
}

.box-specific-state img{
    height:250px;
    padding:15px;
}

.box-specific-state ul{
    list-style-type:none;
    padding:15px;
}

.box-specific-state li{
    display:flex;
    align-items:center;
}

.tag-free{
    height:25px;
    width:25px;
    border-radius: 50%;
    background-color:var(--component-button-color);
    margin:5px;
}

.tag-occupied{
    height:25px;
    width:25px;
    border-radius: 50%;
    background-color:var(--component-button-color-negative);
    margin:5px;
}

/* Boxes.html Page */

.boxes-container{
    min-height:100vh;
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: center;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    font-style: var(--header-font-style);
    color:var(--component-text-color);
    padding-top:75px;
    padding-bottom:15px;
}

.boxes-container h2{
    font-size:50px;
    text-transform: uppercase;
    font-weight: var(--header-font-weight);
    font-style:var(--header-font-style);
    font-family: var(--header-font);
    padding:15px;
}

.boxes-preview{
    padding:50px;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 75px;
}

.box{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size:20px;
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
}

.box h3, h4{
    font-size:30px;
    text-transform: uppercase;
    font-weight: var(--header-font-weight);
    font-style:var(--header-font-style);
    font-family: var(--header-font);
}

.box a{
    color:var(--component-text-color);
    text-decoration: none;
    width:100%;
    text-align: center;
}

.box span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box img{
    width:100%;
    padding:15px;
}

.box-free h4{
    background-color:var(--component-button-color);
    padding:5px 15px;
    box-shadow: 3px 3px 0px 1px var(--component-button-shadow);
    color:var(--component-text-color);
}

.box-taken h4{
    background-color:var(--component-button-color-negative);
    padding:5px 15px;
    box-shadow: 3px 3px 0px 1px var(--component-button-color-negative-opacity);
    color:var(--component-text-color);
    cursor:no-drop;
}

.box-taken img{
    cursor:no-drop;
}

.box-taken img:hover{
    opacity: 50%;
}

.boxes-load{
    background-color:var(--component-button-color);
    padding:5px 15px;
    box-shadow: 3px 3px 0px 1px var(--component-button-shadow);
    color:var(--component-text-color);
    text-align: center;
    font-size:40px;
    text-decoration: none;
    grid-column-start: 2;
    grid-column-end: 4;
    margin-top:25px;
    text-transform: uppercase;
}

.box-hidden{
    display:none;
}

/* Global Media queries  */

@media only screen and (max-width: 1600px){
    .hero h2{
        font-size:175px;
    }

    .hero-logo{
        height:125px;
    }

}

@media only screen and (max-width: 1200px){
    .hero h2{
        font-size:150px;
    }

    .hero-logo{
        height:100px;
    }

    .boxes-preview{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
    }

    .boxes-load{
        grid-column-start: 1;
        grid-column-end: 4;
        margin-top:25px;
    }
}

@media only screen and (max-width: 768px) {

    .boxes-preview{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        padding:25px;
    }

    .boxes-load{
        margin-top:25px;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .navbar-button-collection{
        display:none;
    }

    .navbar-buttons{
        display:flex;
    }

    .box-container{
        flex-direction: column;
    }

    .hero{
        align-items: center;
    }
    .hero-logo{
        display:none;
    }
    .hero h2{
        font-size:90px;
        padding:0px;
        line-height:1;
        max-width:374px;
        align-self: flex-start;
    }
    .hero-footer{
        display:flex;
        visibility: visible;
    }

    
    .vision-intro{
        flex-direction: column-reverse;
    }

    .vision-text{
        max-width:500px;
        padding:15px;   
    }

    .vision-text h2{
        font-size:90px;
        
    }

    .vision-text p{
        font-size:18px;
    }

    .vision-goal{
        flex-direction: column-reverse;
    }

    .vision-goal-text{
        max-width:500px;
        padding:15px;   
    }

    .vision-goal-text h2{
        font-size:90px;
        
    }

    .vision-goal-text p{
        font-size:18px;
    }

    .vision-goal-image{
        height:400px;
    }

    .hero-video{
        padding:0;
    }

    .hero-video{
        flex-direction: column-reverse;
        height:auto;
    }

    .hero-video h2{
        font-size:90px;
        
    }

    .hero-video p{
        font-size:20px;
    }

    .hero-video-container{
        height:500px;
        border-top:3px solid var(--component-background);
        border-bottom:3px solid var(--component-background);
        border-left:none;
        border-right:none;
    }

    .box-panel{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top:15px;
        margin-bottom:15px;
    }

    .box-controls{
        margin-bottom:50px;
    }

    .box-image{
        max-width:200px;
    }

    .box-specific-details{
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .box-specific-state{
        
        flex-direction: column-reverse;
    }

    .box-specific-state ul{
        text-align: center;
    }
    .box-specific-state h3{
        font-size:50px;
    }

    .box-specific-state img{
        height:150px;
    }
}

@media only screen and (max-width: 374px) {
    .hero h2{
        font-size:74px;
    }

    .hero-button{
        font-size:18px;
    }
    
    .hero-footer img{
        height:50px;
    }

    .navbar-item{
        padding:10px;
    }

    .boxes-preview{
        grid-template-columns: repeat(1, 1fr);
    }

    .boxes-load{
        grid-column-start: 1;
        grid-column-end: 1;
        margin-top:25px;
    }
}