/* 
main.css is the top level stylesheet, extra modules should be imported through this document.
*/


/* Import modules here */
@import url("components.css");
@import url("animations.css");


/* General styling */
*{
    box-sizing:border-box;
    margin:0;
    scroll-behavior: smooth;
}

/* Insert variables here */
:root{
    --header-font:"Raleway", sans-serif;
    --header-font-weight: 900;
    --header-font-style: italic;
    --font:"Roboto", sans-serif;

    --component-button-color:rgb(122,230,69); 
    --component-button-color-negative: rgb(230, 69, 69);
    --component-button-color-negative-opacity: rgb(230, 69, 69, 0.24);
    --component-button-shadow:rgba(142,242,85,0.43);
    --component-background:rgb(11,60,54);
    --component-background-opacity:rgba(11,60,54,0.85);
    --component-text-color:rgb(245,245,245);

    --text-shadow-color:rgba(11,60,54,0.43);

    --mintblue:rgb(0, 155, 129);

    --global-transition-timing: .25s;
    --global-scale-timing: .5s;
    --global-animation-timing: 1.25s;
    --global-scale: scale(1.05);
}