.navbar{
    position:fixed;
    top:0px;
    z-index:3;
}

.navbar-menu{
    position:fixed;
    top:100px;
    right:0px;
    z-index:5;
}

.hero-footer{
    position:fixed;
    bottom:0px;
    z-index:2;
}